<!DOCTYPE html>
<html>
  <head>
    <title>Clock</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/basic.css" rel="stylesheet">
    <link href="/css/clock.css" rel="stylesheet">
    <link href="/css/cloud.css" rel="stylesheet">
    <meta name="viewport" content="width=320, initial-scale=1">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  <script src="//code.jquery.com/jquery-1.9.1.js"></script>
  <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  <script src="/js/jquery.ui.touch-punch.min.js"></script> 

  <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">

  </head>
  <body>

   <div id="container"> 

    <br/>
    
    <div class= "apptitle">
        <h1>How much time do you have?</h1>
      </div>

      <div class = "simpletext" id="instructions">
      <p> drag to select time <p>
      </div>

      <div class="timetext">
        0min &nbsp &nbsp &nbsp 60min
      </div>

      <div id = "slider"> </div>

      <br/>
      <br/>

     <div class = "simpletext" id="timechosen">
      <p id="time"> minutes </label>
      </p>
      </div>
    
    
    <div id="nagivation_bar">
      <ol class="nav nav-pills">
        <li class = "active">
          <a href="#" id="next">
            <span class="glyphicon glyphicon-cloud"></span>
            Next
          </a>
        </li>
      </ol>
    </div>

    </div>
    
    <script src="/js/clock.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </div>
  </body>
</html>
