<!DOCTYPE html>

<html>
  <head>
    <title>Draw</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    
    <link href="/css/draw.css" rel="stylesheet">
    <meta name="viewport" content="width=320, initial-scale=1">
  </head>
  <body>
  
    
    <div id="button_div">
      <button id="clearBtn"> 
        <p>Clear</p>
      </button>
    </div>



    <canvas id="paintBox">
    Your browser doesnot support canvas
    </canvas>

    <div id="nagivation_bar">
      <ol class="nav nav-pills">
        <li class = "active">
          <a href="/clock">
            <span class="glyphicon glyphicon-time"></span>  
            Change Time
          </a>
        </li>
        <li class = "active">
          <a href="/cloud">
            <span class="glyphicon glyphicon-cloud"></span>
            Change Words
          </a>
        </li>
      </ol>
    </div>



    	
    <script src="https://code.jquery.com/jquery.js"></script>
    
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/draw.js"></script>
  </body>
</html>
