#next {
  left: 50%;
}

.box {
  position: absolute;
  border: 2px solid black;
  height: 75px;
  width: 90%;
  margin-left: 5%
}

#slider {
  position: absolute;
  height:75px; 
  width:90%;
  border: 2px solid black; 
  border-radius: 2px;
  margin-left:5%;
  background: inherit;
}

#slider .ui-slider-range {
  background: #82addb;
  border-radius: 0px;
  border-right: 3px solid black;
}

#slider .ui-slider-handle {
  visibility: hidden
}

.simpletext {
	font-size: 20px;
	font-weight: 300;
	color: inherit;
	text-align: center;
  font-style: italic;
}

.timetext {
  position: relative;
  font-size: 16px;
  font-weight: 300;
  color: inherit;
  text-align: center;
  word-spacing: 25px;
}

.apptitle {
  padding: 10px;
  margin-bottom: 10px;
  font-size: 21px;
  font-weight: 200;
  line-height: 2.1428571435;
  color: inherit;
  text-align: center;
}

.apptitle h1,
.apptitle .h1 {
  line-height: 1;
  color: inherit;
}

.apptitle p {
  line-height: 1.4;
}

.container .apptitle {
  border-radius: 0px;
}

.apptitle .container {
  max-width: 100%;
}

@media screen and (min-width: 310px) {
  .apptitle {
    padding-top: 20px;
    padding-bottom: 10px;
  }
  .container .apptitle {
    padding-right: 60px;
    padding-left: 60px;
  }
  .apptitle h1,
  .apptitle .h1 {
    font-size: 20px;
    font-weight: 150;
    text-align: center;
  }
}