#my_button {
	text-align: center;
	width: 130px;
	height: 40px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	background: linear-gradient(#F2F2F2 70%, #E5E5E5);
}

#button_div {
	position: relative;
	margin: 0px auto;
	top: 355px;
	width: 130px;
}

#word1 {
	top: 5px;
	left: 5px;
}

#word2 {
	top: 50px;
	left: 45px;
}

#word3 {
	top: 15px;
	left: 100px;
}

#word4 {
	top: 70px;
	left: 130px;
}

#word5 {
	top: 10px;
	left: 185px;
}

#word6 {
	top: 50px;
	left: 230px;
}

#word7 {
	top: 95px;
	left: 5px;
}

#word8 {
	top: 180px;
	left: 20px;
}

#word9 {
	top: 130px;
	left: 70px;
}

#word10 {
	top: 140px;
	left: 150px;
}

#word11 {
	top: 100px;
	left: 200px;
}

#word12 {
	top: 160px;
	left: 225px;
}

#directions {
	position: relative;
	margin: 0px auto;
	text-align: center;
	font-size: 14px;
	top: 355px;
}

.rainy-weather {
  	position: relative;
  	width: 300px;
  	margin: 0px auto;
  	top: 265px;
  }
 
.cloud-main {
	position: absolute;
  	width: 300px;
  	height: 90px;
  	background: #F0EFF7;
  	border-radius: 100em;
  	z-index: 10;
  	box-shadow: 0 3px 5px rgba(0,0,0, 0.3);
}
 
.cloud-center {
  width: 140px;
  height: 140px;
  background: #F0EFF7;
  position: absolute;
  border-radius: 100em;
  top: -80px;
  right: 50px;
}
 
.cloud-left {
  width: 90px;
  height: 90px;
  background: #F0EFF7;
  position: absolute;
  border-radius: 100em;
  top: -50px;
  right: 160px;
}

#my_button p {
	margin-top: -3px;
	font-weight: 100;
    font-size: 14px;
    line-height: 40px;
    color: black;
}

.word {
	margin-top: -2px;
	color: black;
	font-size: 14px;
}

.oval {
	position: absolute;
   	width: 70px; 
   	height: 35px; 
   	-moz-border-radius: 80px / 40px; 
   	-webkit-border-radius: 80px / 40px; 
   	border-radius: 80px / 40px;
   	background: #c9dbe9;
	background: -webkit-linear-gradient(top, #c9dbe9 0%, #fff 100%);
	background: -linear-gradient(top, #c9dbe9 0%, #fff 100%);
	background: -moz-linear-gradient(top, #c9dbe9 0%, #fff 100%);
	text-align: center;
	vertical-align: middle;
	z-index: 100;
	box-shadow: 0 3px 5px rgba(0,0,0, 0.3);
}