
#clearBtn {
	text-align: center;
	width: 130px;
	height: 40px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	background: linear-gradient(#F2F2F2 70%, #E5E5E5);
	color: black;
	position: relative;
	margin: 0px auto;
	font-weight: 100;
}

#button_div {
	position: relative;
	margin: 0px auto;
	top: 50px;
	width: 130px;
}
#clearBtn p {
	margin-top: -3px;
	font-weight: 100;
    font-size: 14px;
    line-height: 40px;
    color: black;
}


#canvasSignature {
	position: relative;
	background-color: white;
	width: 300px;
	border: 100px;
}