#swipe {
	position: relative;
	margin: 10px auto;
	width: 200px;
	height: 40px;
	background-color: rgba(53, 185, 247, 0.5);
}

#swipe.swipe {
	background-color: rgba(53, 185, 247, 1);
}

#image {
	height: 250px;
	max-width: 310px;
}
