#navigation-bar {
	position: fixed;
}

#secretbox {
	background-color: inherit;
	border-radius: 10px;
	border-color: gray;
}

.releasebutton {
	text-align: center;
	background-color: rgba(53, 185, 247, 0.5);
	border-radius: 5px;
	width: 70%;
	margin-left: 15%;
}
